* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /* border: 2px solid red; */
}

body {
    background-color: black;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 90px);
    gap: 1.2rem 2rem;
    margin-top: 20px;
}

.form-control {
    margin: 10px 0;
}

label {
    color: white;
    font-size: 20px;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 5px 5px;
    outline: none;
    border-radius: 5px;
    background-color: rgba(128, 128, 128, 0.84);
    font-size: 15px;
}

.grid button {
    padding: 10px 40px;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    display: flex;
    background-color: orange;
    border-radius: 5px;
    border: none;
    outline: none;
}

.content {
    border-bottom: 2px solid orange;
    border-top: 2px solid white;
    border-left: 2px solid orange;
    border-right: 2px solid white;
    padding: 25px;
    border-top-right-radius: 70px;
    border-bottom-left-radius: 70px;
}
center{
    padding: 0 0 15px;
}
@media screen and (max-width:350px) {
.grid{
    gap: 1rem;
    grid-template-columns: repeat(3, 70px);
}
.form-control {
    margin: 5px 0;
}
}
@media screen and (max-width:475px) {
    .grid{
        gap: 1rem;
        grid-template-columns: repeat(3, 80px);
    }
}
